
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
   text-align: center;
   font-family: 'Poppins', sans-serif;
}

button a {
    text-decoration: none;
    
}
button {
    background-color: #efefef;
    padding: 5px 10px;
    margin-bottom: 50px;
    border-radius: 5px;
}