<div>
    
<h1>{{pageTitle}}</h1>
<h2>{{title}}</h2>
<button>
    <a href="http://localhost:8600/fr">fr</a>
</button>
<button>
    <a href="http://localhost:8600/en">en</a>
</button>
<button>
    <a href="http://localhost:8600/es">es</a>
</button>
</div>


<div>
<img src={{imgUrl}} alt="flag"/>
</div>