@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@500&display=swap');
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Poppins', sans-serif; */

.container-principal {
    display: flex;
    justify-content: space-between;
    margin: 2rem 5%;
    font-family: 'Poppins', sans-serif;
}
.wrapper-list {
    width: 40%;    
}
.wrapper-list h1 {
    text-align: center; 
    margin-bottom: 3rem;  
}
.separation {
    width: 0;
    height: 100vh;
    border-right: 2px solid black;
}
.wrapper-form {
    width: 40%;
}
.wrapper-form h1 {
   text-align: center;
   margin-bottom: 3rem;
}
.input-form {
    margin-left: 1rem;
    width: 15rem;
    height: 1rem;
    padding: 0.2rem;
    border-radius: 5px;
    border: 2px solid #d8d8d8;
}
.input-form:focus-within {    
    border: 2px solid #d8d8d8;
}
.btn-form {
    margin-top: 1rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    background-color: rgb(60, 161, 255);
    color: white;
    cursor: pointer;
}
.btn-form:hover {
    background-color: rgb(100, 178, 252);
}